body {
  background-color: lightgreen;
  color: rgb(69, 69, 154);
  display: flex;
  justify-content: center;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 70px;
}

li {
  border: 1px solid black;
  line-height: 30px;
  margin-top: 20px;
  padding: 5px;
}

.fw-bold {
  font-size: x-large;
  font-weight: bold;
}
