body {
  background-color: antiquewhite;
  color: cadetblue;
  display: flex;
  justify-content: center;
}

main {
 text-align: center;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 70px;
  margin-bottom: 0px;
}

ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
}

.fw-bold {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 15px;
}

button {
  background-color: cadetblue;
  color: white;
  margin-left: 10px;
  height: 25px
}

input {
  background-color: azure;
  height: 25px;
}

.mapimg {
  margin-top: 20px;
}

img {
 width: min-content;
}

.weathersection {
  font-size: xx-large;
  font-weight: bold;
}

.moviesection {
  font-size: xx-large;
  font-weight: bold;
}

.list-group-flush {
  list-style-type: circle;
  margin-bottom: 20px;
}

.movietitle {
  font-size: xx-large;
  font-weight: bold;
}

.card {
  border: 5px solid grey;
  margin-bottom: 20px;
}

.movieimg {
  margin-top: 20px;
  margin-bottom: 20px;
}

.moviedescription {
  margin-left: 20px;
  margin-right: 20px;
}
