body {
  background-color: lightgreen;
  color: rgb(69, 69, 154);
  display: flex;
  justify-content: center;
}

main {
 text-align: center;
 display: flex;
 flex-direction: column;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 70px;
  margin-bottom: 0px;
}

ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

li {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: min-content;
  line-height: 30px;
  margin-top: 20px;
  padding: 5px;
}

.fw-bold {
  font-size: x-large;
  font-weight: bold;
}

button {
  background-color: rgb(69, 69, 154);
  color: white;
  margin-left: 10px;
  height: 25px
}

input {
  background-color: rgb(221, 221, 235);
  height: 25px;
}
